kubernetes {
    dashboard {
        namespace = "kubernetes-dashboard"
        user = "admin-user"
        url = "http://dashboard.example.com"
    }
    node "k8s-control-1" {
        addr = "10.10.0.10:22"
        username = "debian"
        private_key_file = "~/.ssh/id_ed25519"
        host_key = "ssh-ed25519 AA...Jvqs="
    }
}

proxmox {
    timeout = "10s"

    node "pve1" {
        addr = "10.10.0.10:8006"
        username = "root"
        password = "my secret password"
    }

    node "pve2" {
        addr = "10.10.0.20:8006"
        username = "debian"
        password = "change me"
    }
}

ceph {
    node "ceph1" {
        addr = "10.10.0.10:22"
        username = "root"
        private_key_file = "~/.ssh/id_ed25519"
        host_key = "ssh-ed25519 AA...Jvqs="
        mac = "01:23:45:67:89:ab"
    }

    node "ceph2" {
        addr = "10.10.0.20:22"
        username = "root"
        private_key_file = "~/.ssh/id_ed25519"
        host_key = "ssh-ed25519 AA...Jvqs="
        mac = "01:23:45:67:89:cd"
    }

    node "ceph3" {
        addr = "10.10.0.30:22"
        username = "root"
        private_key_file = "~/.ssh/id_ed25519"
        host_key = "ssh-ed25519 AA...Jvqs="
        mac = "01:23:45:67:89:ef"
    }
}
